body {
  min-width: 960px;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
  background: #ffffff;
}

* {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  border: 1px solid;
}

.row {
  padding: 0 0px;
  background: #ccc;
}

.col {
  float: left;
  padding: 0px 10px;
  box-sizing: border-box;
}

.s-1 {
  width: 8.33%;
}

.s-2 {
  width: 16.66%;
}

.s-3 {
  width: 25%;
}

.s-4 {
  width: 33.33%;
}

.s-5 {
  width: 41.66%;
}

.s-6 {
  width: 50%;
}

.s-7 {
  width: 58.33%;
}

.s-8 {
  width: 66.66%;
}

.s-9 {
  width: 75%;
}

.s-10 {
  width: 83.11%;
}

.s-11 {
  width: 91.66%;
}

.s-12 {
  width: 100%;
}

.row:after {
  content: "";
  display: table;
  width: 100%;
}

.to-right {
  float: right;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.block-about,
.block-contacts,
.block-user {
  min-height: 200px;
}

.gray {
  background: #f1f5f7;
}

.head-navigation {
  background: #293449;
}

.site-navigation {
  float: left;
  margin-top: 0px;
  width: 100%;
  min-height: 0px;
  background-color: #32425c;
  height: 60px;
}

.site-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  box-shadow: 0 5px 0 0 #293449;
}

.site-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  line-height: 18px;
}

.site-navigation a {
  display: block;
  padding: 21px 33.6px;
  color: #ffffff;
}

.site-navigation a:hover {
  background: #293449;
}

.site-navigation a:active {
  background: #1d2739;
}