body {
  min-width: 960px;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
  background: #ffffff;
}

* {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

h2 {
  padding-top: 70px;
  margin-bottom: 40px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

p {
  padding-bottom: 40px;
}

.hidden {
  display: none;
}


/*универсальная кнопка*/

.btn {
  display: inline-block;
  /*кнопки могли располагаться на одной строке*/
  padding: 10px 55px;
  /*внутренние отступы*/
  margin-right: 10px;
  font-weight: 400;
  font-size: 14px;
  /*проверено*/
  line-height: 18px;
  /*проверено*/
  font-family: "Cuprum", "Arial", sans-serif;
  vertical-align: top;
  /*вертикальное выравнивание для блочно-строчных кнопок*/
  text-align: center;
  /*выравнивание текста внутри кнопок по центру*/
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  /*сбросить все возможные свойства по умолчанию*/
  background-color: #ee3643;
  border: none;
  cursor: pointer;
}


/*стили наведения на кнопку и стили активной кнопки по стайлгайду*/

.btn:hover,
.btn:active {
  background-color: #ca2c37;
}


/* стили для кнопки, в случае если она неактивна */

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}

.main-header {
  color: #ffffff;
  background: #293449;
  min-height: 42px;
}

.main-header-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 440px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.logo a {
  position: relative;
  display: block;
  padding: 7px 0px;
  padding-top: 11px;
  width: 220px;
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  background-color: #ee3643;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
}

.logo a::before {
  content: "";
  position: absolute;
  top: 42px;
  left: 0px;
  width: 220px;
  height: 5px;
  background: url("../img/logo-shadow.png") no-repeat;
}

.logo a:hover {
  background-color: #ca2c37;
}

.logo a:active {
  background-color: #ba2732;
}


/*стилизация формы поиска*/

form .search {
  background-color: #293449;
  max-width: 200px;
}

.main-header input {
  position: relative;
  margin-bottom: 0px;
  padding-left: 40px;
  border: none;
  height: 42px;
  width: 190px;
  background: transparent url("../img/icon-search_.png") no-repeat 17px 12px;
}

.main-header input:hover {
  background-repeat: no-repeat;
  background-image: url("../img/icon-search.png");
}

.main-header input:focus {
  position: absolute;
  outline: none;
  color: #000;
  background-color: #fff;
  opacity: 1;
}

.main-header input:focus + label {
  display: none;
}

.main-header input:focus {
  position: relative;
  height: 42px;
  top: 0px;
  left: 0px;
  background: #fff url(../img/icon-search-red.png) no-repeat 12px 13px;
}

.main-header input:valid {
  background-color: #fff;
}

.main-header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 490px;
}


/*user in head*/

.user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: center;
}

.user-block a {
  display: block;
  width: 150px;
  padding: 12px 0px;
  padding-left: 18px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}

.user-block a:nth-child(2) {
  margin-left: 0px;
}

.user-block a:hover {
  background-color: #212a3a;
}

.user-block a:active {
  background-color: #161d29;
  opacity: 0.6;
}


/*для корзины*/

.basket-full {
  background-color: #ee3643;
}

.checkout a {
  display: block;
  width: 150px;
  padding: 12px 0px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #63a63e;
}

.checkout a:hover {
  background-color: #5fbb2d;
}

.checkout a:active {
  background-color: #518534;
  opacity: 0.51;
}


/*иконки*/

.basket,
.bookmark {
  position: relative;
}

.basket::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 16px;
  width: 18px;
  height: 18px;
  background: transparent url("../img/icon-basket_.png") no-repeat;
}

.basket:hover::before {
  background: transparent url("../img/icon-basket.png") no-repeat;
}

.basket:active::before {
  background: transparent url("../img/icon-basket_.png") no-repeat;
  opacity: 0.5;
}

.bookmark::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 18px;
  height: 18px;
  background: transparent url("../img/icon-bookmark_.png") no-repeat;
}

.bookmark:hover::before {
  background: transparent url("../img/icon-bookmark.png") no-repeat;
}

.bookmark:active::before {
  background: transparent url("../img/icon-bookmark_.png") no-repeat;
  opacity: 0.5;
}

.s-1 {
  width: 8.33%;
}

.s-2 {
  width: 16.66%;
}

.s-3 {
  width: 25%;
}

.s-4 {
  width: 33.33%;
}

.s-5 {
  width: 41.65%;
}

.s-6 {
  width: 50%;
}

.s-7 {
  width: 58.31%;
}

.s-8 {
  width: 66.66%;
}

.s-9 {
  width: 75%;
}

.to-right {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.site-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 60px;
  background-color: #f1f5f7;
}

.block-about {
  padding-top: 1px;
  padding-left: 52px;
  margin-right: 16px;
  width: 197px;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  text-align: left;
  color: #ee3643;
}

.row-about {
  margin-bottom: 39px;
}

.block-contacts {
  display: block;
  width: 265px;
  text-align: center;
}

.phone a {
  position: relative;
  display: block;
  padding: 9px 0px;
  padding-left: 27px;
  text-decoration: none;
  font-size: 21px;
  color: #e9292a;
  font-weight: 400;
  line-height: 21px;
  border: #fff solid 2px;
}

.phone a::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 13px;
  width: 30px;
  height: 25px;
  background: url("../img/icon-phone.png") no-repeat;
}

p.phone {
  padding: 0px;
}

.block-contacts .address {
  padding: 0px;
  margin-top: 4px;
  width: 270px;
  color: #32425c;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.block-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  width: 300px;
  text-decoration: none;
  text-transform: none;
}

.block-user-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 300px;
}

.login {
  position: relative;
  display: block;
  width: 121px;
  padding: 10px 0px;
  padding-left: 21px;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 21px;
  line-height: 21px;
  text-transform: none;
  text-decoration: none;
  color: #000000;
  background: #ffffff;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.block-user .registration {
  display: block;
  width: 150px;
  padding: 10px 0px;
  font-size: 21px;
  line-height: 21px;
  text-transform: none;
  text-decoration: none;
  color: #000000;
  background: #ffffff;
  text-align: center;
}

.block-user a.login::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 13px;
  width: 20px;
  height: 20px;
  background: url("../img/icon-login.png") no-repeat;
}

.block-user .login:hover,
.block-user .registration:hover {
  color: #ee3643;
  background: #ffffff;
}

.block-user a.login:hover::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 15px;
  width: 20px;
  height: 20px;
  background: url("../img/icon-login_.png") no-repeat;
}

.block-user .login:active,
.block-user .registration:active {
  color: #bcbcbc;
}

.block-user a.login:active::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 15px;
  width: 20px;
  height: 20px;
  background: url("../img/icon-login.png") no-repeat;
}

.user {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  padding: 10px 0px;
  padding-bottom: 11px;
  padding-right: 20px;
  margin-bottom: 8px;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: #000000;
  background-color: #ffffff;
}

.user::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 14px;
  width: 25px;
  height: 20px;
  background: url("../img/icon-user_.png") no-repeat;
}

.user::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 269px;
  width: 25px;
  height: 20px;
  background: url("../img/icon-logout_.png") no-repeat;
}

.user:hover::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 15px;
  width: 25px;
  height: 20px;
  background: url("../img/icon-user.png") no-repeat;
}

.user:hover::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 270px;
  width: 25px;
  height: 20px;
  background: url("../img/icon-logout.png") no-repeat;
}

.user:active::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 15px;
  width: 25px;
  height: 20px;
  background: url("../img/icon-user_.png") no-repeat;
}

.user:active::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 270px;
  width: 25px;
  height: 20px;
  background: url("../img/icon-logout_.png") no-repeat;
}

.user:hover {
  color: black;
}

.user:active {
  color: #bcbcbc;
}

.extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 243px;
  padding-left: 2px;
  color: #32425c;
  background: #f1f5f7;
}

.extra ul {
  font-size: 0px;
}

.extra li {
  font-size: 16px;
  line-height: 18px;
}

.extra li:first-child {
  list-style: none;
}

.extra a {
  color: #32425c;
  text-transform: none;
}

.extra a:hover {
  color: #ee3643;
}

.extra a:hover,
.extra a:active {
  background: #f1f5f7;
}

.extra a:active {
  color: #bcbcbc;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #32425c;
  height: 57px;
  box-shadow: 0 3px 0 0 #293449;
}

.site-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.site-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  line-height: 18px;
}

.site-navigation a {
  display: block;
  padding: 21px 30px;
  color: #ffffff;
  text-decoration: none;
}

.site-navigation a:hover {
  background: #293449;
}

.site-navigation a:active {
  color: #8e939c;
  background: #1d2739;
}

.site-navigation ul li:first-child a {
  padding: 20px 0px;
  padding-left: 52px;
  padding-right: 46px;
}

.site-navigation ul li:nth-child(2) a {
  padding: 20px 0px;
  padding-left: 18px;
  padding-right: 30px;
}

.site-navigation ul li:nth-child(3) a {
  padding: 20px 0px;
  padding-left: 29px;
  padding-right: 30px;
}

.site-navigation ul li:nth-child(5) a {
  padding: 20px 29px;
}

.site-navigation ul li:nth-child(6) a {
  padding: 20px 0px;
  padding-left: 33px;
  padding-right: 18px;
}

.site-navigation ul li:last-child a {
  padding: 20px 0px;
  padding-left: 45px;
  padding-right: 53px;
}


/*catalog-page*/

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
}

.breadcrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.breadcrumbs li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-right: 23px;
}

.breadcrumbs a {
  display: block;
  padding: 0px 10px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.breadcrumbs .current::after {
  display: none;
}

.breadcrumbs li::before {
  content: "";
  position: absolute;
  top: 4px;
  right: -17px;
  width: 10px;
  height: 2px;
  background-color: #c1c6ce;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -17px;
  width: 10px;
  height: 2px;
  background-color: #c1c6ce;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.breadcrumbs li:last-child::before,
.breadcrumbs li:last-child::after {
  display: none;
}


/*breadcrumbs-home*/

.visually-hidden {
  clip: rect(0, 0, 0, 0);
  width: 10px;
  height: 10px;
}

.breadcrumbs ul li:nth-child(1) a {
  padding: 0;
  width: 20px;
  height: 20px;
  font-size: 0;
  background: url("../img/icon-home.png") no-repeat;
}

.catalog .catalog-caption {
  padding: 0;
  padding-left: 28px;
  padding-top: 30px;
  padding-bottom: 29px;
  margin-bottom: 20px;
  width: 97%;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  background: #f2f6f8;
}


/*левая сторона*/


/*forma*/

.left {
  width: 220px;
}

.right {
  width: 700px;
}

.caption {
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 13px;
  background: #f7f3ec;
  padding: 12px 20px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.price-title {
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 17px;
  margin-bottom: 19px;
}

.range-filter {
  width: 220px;
  margin-bottom: 0px;
}

.range-controls {
  position: relative;
  font-size: 17px;
  line-height: 18px;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
  background: #f7f3ec;
  margin-bottom: 8px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 220px;
  height: 2px;
  background: #00ca74;
  margin-left: 0%;
  width: 75%;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 150px;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.price-controls {
  font-size: 0;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  width: 95px;
  margin-left: 0px;
  padding: 11px 0px;
  padding-left: 5px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f7f3ec;
  /*
  padding-top: 0px;
  padding-bottom: 0px;
*/
}


/*форма выше*/

.catalog-content-title {
  margin-top: 14px;
  padding-top: 15px;
  margin-bottom: 13px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  font-family: "PT Sans", "Arial", sans-serif;
  border-top: 1px solid #e5e5e5;
}

.catalog-content-title-two {
  margin-top: 19px;
  padding-top: 18px;
  margin-bottom: 11px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  font-family: "PT Sans", "Arial", sans-serif;
  border-top: 1px solid #e5e5e5;
}

.factory-item-incatalog {
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  margin-bottom: 15px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.factory-item-incatalog:nth-child(6) {
  margin-bottom: 0px;
}

.power-item {
  font-size: 14px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  margin-bottom: 15px;
}

form .btn {
  padding: 10px 38px;
  margin-right: 0px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000;
  background: #fff;
  border: 1px solid #e5e5e5;
}


/*фильтры*/

.filter-block {
  display: block;
  width: 220px;
  margin-bottom: 75px;
}


/* Скрываем реальный чекбокс */

.checkbox,
.radio {
  display: none;
}

.checkbox-custom,
.radio-custom {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  position: relative;
}

.checkbox-custom {
  background: transparent url("../img/icon-check-off.png") no-repeat;
}

.radio-custom {
  background: transparent url("../img/icon-circle.png") no-repeat;
}

.checkbox-custom,
.radio-custom,
.label {
  display: inline-block;
  vertical-align: middle;
}

.checkbox:checked + .checkbox-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: transparent url("../img/icon-check-on.png") no-repeat;
}

.radio:checked + .radio-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: transparent url("../img/icon-circle-dot.png") no-repeat;
}


/**/


/*правая сторона страницы каталога*/

.catalog-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 20px;
  background-color: #f7f3ec;
}

.catalog-sorting p {
  width: 190px;
  padding: 10px 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.catalog-sorting ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 375px;
  list-style: none;
}

.catalog-sorting li {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.catalog-sorting a {
  display: block;
  padding: 0px 10px;
  padding-top: 10px;
  color: #000;
  text-decoration: none;
  opacity: 0.3;
}


/*подчеркивание*/

.catalog-sorting a {
  position: relative;
}

.catalog-sorting a::after {
  content: "";
  position: absolute;
  right: 10px;
  bottom: 0;
  left: 10px;
  height: 5px;
  border-bottom: 1px dotted #ee3643;
}


/**/

.catalog-sorting a:hover {
  opacity: 1;
}

.catalog-sorting .current-active {
  opacity: 1;
  color: #ee3643;
}

.triangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 13px 16px 13px 36px;
}

.triangle-up {
  padding: 0px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #c6c2bd;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #c6c2bd;
}

.triangle-up:hover {
  border-bottom: 10px solid black;
}

.triangle-down:hover {
  border-top: 10px solid black;
}

.triangle-up:active {
  border-bottom: 10px solid red;
}

.triangle-down:active {
  border-top: 10px solid red;
}

.catalog-content-right {
  margin-bottom: 33px;
}


/*кнопки назад-вперед*/

.paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.paginator ul {
  font-size: 0px;
  text-decoration: none;
}

.paginator li {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.paginator a {
  display: block;
  padding: 9px 15px;
  margin-right: 9px;
  text-decoration: none;
  color: black;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.paginator .next {
  width: 110px;
  text-align: center;
  vertical-align: middle;
}

.paginator .current {
  color: white;
  background: #ee3643;
}

.paginator a:hover {
  border: 1px solid #c1c1c1;
}

.paginator a:active {
  border: 1px solid #ee3643;
}

div .catalog {
  padding-top: 18px;
  padding-bottom: 60px;
}


/*кнопки назад-вперед выше*/

.annotation {
  background-color: #f2f6f8;
}

.annotation-block {
  padding-top: 67px;
  padding-bottom: 69px;
}

.annotation-title {
  margin-bottom: 25px;
  background-color: #f2f6f8;
  color: #000000;
  font-weight: 400;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
}

p {
  padding: 0px;
}

.annotation-description {
  color: #000000;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}


/*стилизация категорий*/

.categories-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 62px;
  margin-bottom: 30px;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.categories-item {
  position: relative;
  min-height: 124px;
  text-align: center;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.categories-item:nth-child(1) {
  background: #f6b22d;
}

.categories-item:nth-child(2) {
  background: #4aafde;
}

.categories-item:nth-child(3n) {
  margin-right: 0;
  background: #cc79d1;
}

.column .categories-item:nth-child(1) {
  margin-top: 0;
  margin-right: 0;
  background: #85d179;
}

.column .categories-item:nth-child(2) {
  margin-top: 20px;
  margin-right: 0;
  background: #f6b22d;
}

.categories-item:last-child {
  margin-bottom: 20px;
}

.categories-item::nth-child(3n) {
  margin-right: 0px;
}

.categories-item::before {
  content: "";
  position: absolute;
  top: 64px;
  left: 238px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url("../img/sprite2.png") no-repeat;
}

.materials::before {
  width: 50px;
  height: 66px;
  background-position: -10px -10px;
}

.instrument::before {
  width: 82px;
  height: 62px;
  background-position: -10px -95px;
}

.technics::before {
  width: 94px;
  height: 66px;
  background-position: -10px -176px;
}

.discount::before {
  width: 84px;
  height: 78px;
  background-position: -10px -258px;
}

.delivery::before {
  width: 94px;
  height: 68px;
  background-position: -10px -350px;
}

.categories-item-slider-one {
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
  min-height: 266px;
  width: 620px;
  text-align: center;
  background: url("../img/slider1.jpg") no-repeat;
}

.categories-item-slider-two {
  margin-right: 20px;
  margin-bottom: 20px;
  min-height: 266px;
  width: 620px;
  text-align: center;
  background: url("../img/slider2.jpg") no-repeat;
}

.toogle {
  margin-bottom: 48px;
}

.toogle-right,
.toogle-left {
  width: 40px;
  height: 40px;
  border: 0px;
}


/*стрелка с правой стороны*/

.toogle-right {
  margin-right: 13px;
  top: 112px;
  left: 578px;
  width: 30px;
  height: 45px;
  background: url("../img/icon-right.png") no-repeat;
}


/*стрелка с левой стороны*/

.toogle-left {
  margin-left: 25px;
  top: 112px;
  right: 560px;
  width: 30px;
  height: 45px;
  background: url("../img/icon-left.png") no-repeat;
}

.name-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 23px;
  padding-top: 21px;
  margin-bottom: 12px;
  font-size: 24px;
  /* проверено */
  line-height: 30px;
  /* проверено */
  font-weight: 700;
  /* проверено */
  color: #ffffff;
}

.categories-item-slider-one .name-category,
.categories-item-slider-two .name-category {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 245px;
  padding-left: 24px;
  padding-top: 21px;
  padding-bottom: 0px;
  margin-bottom: 26px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.name-category p {
  padding: 2px 0px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.categories-item .btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  padding: 10px 10px;
  margin: 0px 138px 0px 26px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
}

.categories-item .btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.categories-item .btn:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.categories-item-slider-one .btn,
.categories-item-slider-two .btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  /* проверено */
  line-height: 18px;
  /* проверено */
  font-weight: 400;
  margin: 0px 60px 0px 24px;
  padding: 10px 48px;
  border-radius: 3px;
}

.materials .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  /*      z-index: 20;*/
}

.materials .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.block-caption,
.block-capt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #f7f3ec;
  padding: 0 0px;
  margin-bottom: 20px;
}

.block-caption p,
.block-capt p {
  padding-bottom: 0px;
  margin: 0px;
}

.block-caption .block-title {
  padding: 30px 30px 30px 28px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  text-transform: uppercase;
  font-size: 30px;
  /* проверено */
  line-height: 30px;
  /* проверено */
  color: #32425c;
}

.block-capt .block-title {
  padding: 30px 30px 30px 24px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  text-transform: uppercase;
  font-size: 30px;
  /* проверено */
  line-height: 30px;
  /* проверено */
  color: #32425c;
}

.block-caption a,
.block-capt a {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  padding: 10px 0px;
  margin-right: 26px;
  width: 250px;
  border-radius: 3px;
}


/*каталог*/

.catalog-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0px;
}


/* Зададим размеры, отступы и рамки элементу каталога, а также текстовые стили для него */

.catalog-items {
  width: 700px;
  margin: 20px auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
}

.catalog-items .row {
  margin-left: -20px;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
}

.catalog-items {
  font-size: 0;
}

.catalog-item {
  font-size: 16px;
}

.catalog-items .catalog-item:nth-child(3n) {
  margin-right: 0px;
}

.catalog-block .catalog-item:nth-child(4n) {
  margin-right: 0px;
}

.catalog-item:hover {
  box-shadow: 0px 5px 5px 5px #b1b5bd;
}


/* Зададим стили флажку "новинка", расположим его
с помощью абсолютного позиционирования и ленточку зададим с помощью фона */

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  /*    z-index: 20;*/
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}


/*Блок с ссылками разместим с помощью абсолютного позиционирования*/

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}


/*Зададим общие стили для кнопок: размеры, отступы, рамки и фон*/

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  /*текстовые стили, а также скругления углов*/
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}


/*по стайлгайду*/

.catalog-item .actions .buy {
  position: relative;
}

.catalog-item .actions .buy::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 10px;
  width: 18px;
  height: 18px;
  background: transparent url("../img/icon-basket.png") no-repeat;
  opacity: 0.3;
}

.catalog-item .actions .buy:hover::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 10px;
  width: 18px;
  height: 18px;
  background: transparent url("../img/icon-basket.png") no-repeat;
  opacity: 1;
}

.catalog-item .actions .buy:hover {
  background-color: #5fbb2d;
  border-bottom-color: #367315;
  border: 3px solid #5fbb2d;
}

.catalog-item .actions .buy:active {
  background-color: #518534;
  border: 3px solid #518534;
}

.catalog-item .actions .bookmark:hover {
  border: 3px solid #32425c;
}

.catalog-item .actions .bookmark:active {
  color: #c1c6ce;
  border: 3px solid #c1c6ce;
}


/*Задаём отдельные стили для нижней кнопки*/

.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}


/*чтобы блок с кнопками появлялся только при наведении*/

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}


/*Оформим название товара и скидку*/

.catalog-item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 11px;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
}

.catalog-item .discount {
  min-height: 20px;
  margin-top: 11px;
  margin-bottom: 0px;
  color: #999;
  text-decoration: line-through;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
}


/*Оформим блок цены*/

.catalog-item .price {
  position: relative;
  width: 80px;
  margin: 7px auto;
  margin-bottom: 20px;
  padding: 9px 27px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
}


/*Добавим для цены стрелку вправо*/

.catalog-item .price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -26px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}


/**/

.factory-block {
  padding-bottom: 62px;
}

.factory-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 218px;
  margin-bottom: 20px;
  min-height: 143px;
  border: 1px solid #ccc;
}

.factory-item:hover {
  box-shadow: 0px 5px 5px 5px #b1b5bd;
}

.factory-item:active {
  box-shadow: 0px 2px 2px 2px #b1b5bd;
  opacity: 0.3;
}

.factory-item a {
  margin: auto;
}


/*новый блок*/

.service-block {
  background: #f2f6f8;
}

.service-block-info {
  padding-top: 68px;
  margin-bottom: 24px;
}

.service-block-menu-general {
  height: 280px;
  padding-bottom: 49px;
}

.service-block-info-title {
  margin-bottom: 26px;
  color: #000000;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.service-block-general-title {
  padding-top: 0px;
  padding-bottom: 25px;
  width: 620px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  position: relative;
}

.service-block-info p {
  padding: 0px;
  color: #000000;
  font-weight: 400;
  width: 400px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
}

.service-block-guarentee p {
  padding: 0px;
  color: #000000;
  font-weight: 400;
  width: 375px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
}

.service-block-delivery p {
  padding: 0px;
  color: #000000;
  font-weight: 400;
  width: 275px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
}

.service-block-credit p {
  padding: 0px;
  color: #000000;
  font-weight: 400;
  width: 280px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
}

.service-block-delivery,
.service-block-guarentee,
.service-block-credit {
  margin-top: 43px;
}

.delivery {
  background: url("../img/car.png") no-repeat;
  background-position: 100% -100%;
}

.guarentee {
  background: url("../img/guarantee.png") no-repeat;
  background-position: 100% 0%;
}

.credit {
  background: url("../img/credit.png") no-repeat;
  background-position: 150px 0px;
}

.send {
  margin-top: 30px;
  border-radius: 3px;
}


/*кнопки в блоке*/

.service-block-menu {
  width: 260px;
  /* для вертикальной тенитени */
  padding-top: 45px;
  background: url("../img/shadow.png") no-repeat;
  background-position: 235px 0px;
}

.service-block-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.service-block-menu li {
  display: block;
  width: 235px;
}

.service-block-menu a {
  min-width: 198px;
  padding: 12px 20px 17px 20px;
  margin-right: 0px;
  text-align: left;
  border: 1px solid #293449;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  text-transform: none;
  color: #ffffff;
  background-color: #32425c;
}

.service-block-menu a:hover {
  background: #293449;
}

.service-block-menu .active {
  color: #32425c;
  background-color: #ffffff;
  border-color: transparent;
}

.service-block-menu .active:hover {
  color: #ffffff;
  background: #293449;
  border: 1px solid #293449;
}

.service-block-menu a:active {
  color: #32425c;
  background-color: #ffffff;
  border-color: transparent;
}


/*новый блок*/

.index-content {
  padding-top: 80px;
  padding-bottom: 85px;
  color: #000000;
}

.index-content-left {
  width: 520px;
}

.index-content-left p:nth-child(3) {
  width: 400px;
}

.index-content-right {
  margin-left: 40px;
  width: 300px;
}

.index-content-title {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 25px;
}

.index-content p {
  margin-bottom: 23px;
  font-size: 13px;
  line-height: 24px;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.index-content-right p {
  width: 180px;
  margin-bottom: 29px;
  font-size: 13px;
  line-height: 24px;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.index-content p:nth-child(3) {
  margin-bottom: 0px;
}

.index-content ul {
  margin: 0px;
  padding: 0px;
}

.transport-companies .line-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0px 0px 0px;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.transport-companies .line-flex::before {
  content: " ";
  width: 25px;
  height: 2px;
  background: red;
}

.transport-companies .line-flex::before {
  margin-right: 10px;
}

.transport-companies ul {
  margin-bottom: 40px;
}


/*кнопки в блоке*/

.index-content-left .btn {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 37px;
  padding: 10px 45px;
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 3px;
}

.index-content-right .btn {
  display: block;
  margin-top: 35px;
  margin-right: 0px;
  padding: 10px 0px;
  border-radius: 3px;
}


/*footer*/

.footer-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 50px;
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
  background: #32425c;
}

.row-footer-first {
  width: 380px;
}

.row-footer-second {
  padding-top: 37px;
  width: 547px;
}

.logo-footer a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 19px 26px 15px 26px;
  margin-right: 160px;
  margin-bottom: 31px;
  font-size: 30px;
  line-height: 30px;
  background: #ee3643;
  color: #ffffff;
  text-decoration: none;
}

.logo-footer a::before {
  content: "";
  position: absolute;
  top: 64px;
  left: 0px;
  width: 220px;
  height: 5px;
  background: url("../img/logo-shadow.png") no-repeat;
}

.footer-adress {
  padding-left: 3px;
  width: 330px;
}

.footer-navigation-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 35px;
}

.footer-navigation-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  width: 525px;
  padding-left: 22px;
}


/**/

.footer-up ul {
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-up a {
  -ms-flex-line-pack: end;
  align-content: flex-end;
  text-decoration: none;
  color: #f1f5f7;
}

.footer-navigation-site a:hover,
.footer-navigation-info a:hover {
  text-decoration: underline;
}

.footer-navigation-site a:active,
.footer-navigation-info a:active {
  opacity: 0.5;
}


/**/

.footer-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 37px;
  padding-bottom: 26px;
  font-size: 16px;
  line-height: 18px;
  background: #293449;
  color: #f1f5f7;
}

.footer-down .company {
  padding: 0px;
  margin: 0px;
  width: 230px;
  height: 36px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 42px;
  text-align: center;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 42px;
  height: 38px;
  margin: 0 2px;
  border-radius: 50%;
  font-size: 0;
  text-decoration: none;
  background-color: #212a3a;
  position: relative;
}

.social-btn:hover {
  background-color: #ee3643;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url("../img/sprite1.png") no-repeat;
}

.social-btn-vk::before {
  width: 20px;
  height: 12px;
  background-position: -10px -465px;
}

.social-btn-fb::before {
  width: 10px;
  height: 18px;
  background-position: -10px -170px;
}

.social-btn-inst::before {
  width: 17px;
  height: 17px;
  background-position: -10px -240px;
}

.footer-mail-copyright {
  width: 300px;
}

.footer-mail-copyright .mail {
  width: 150px;
}

.footer-mail-copyright .copyright {
  width: 111px;
}

.footer-mail-copyright p {
  margin: 0;
  padding: 0;
}

.footer-mail-copyright a {
  margin: 0;
  color: #ffd180;
  text-decoration: none;
}

.footer-navigation-info a {
  color: #d6b479;
}

.catalog-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 60px;
}


/* Всплывающая форма */


/*Добавим анимации для открытия формы. Для этого опишем анимацию.*/

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


/*Добавим анимацию для тряски формы в случае ошибки.*/

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.modal-content-basket {
  position: fixed;
  top: 411px;
  left: 322px;
  margin: 0px;
  width: 620px;
  text-align: center;
  color: #000;
  border-top: 7px solid red;
  background: #fff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.string {
  display: inline-block;
  vertical-align: top;
}

.slider-dots-one {
  position: relative;
  top: 15px;
  right: 144px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 5px;
}

.slider-dots-two {
  position: relative;
  top: 15px;
  right: 294px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 5px;
}

.indicator {
  position: relative;
  top: 15px;
  right: 144px;
  width: 10px;
  height: 10px;
  background: url("../img/sliderindicator.png");
}

.circle {
  position: relative;
  width: 66px;
  height: 66px;
  background: #63a63e;
  border-radius: 33px;
  margin-right: 32px;
}

.circle:before {
  content: "";
  position: absolute;
  top: 22px;
  left: 15px;
  width: 45px;
  height: 45px;
  background: url("../img/shape.png") no-repeat;
}

h2 {
  margin: 0px;
  padding: 0px;
}

h2.modal-content-title {
  padding-top: 18px;
  margin-bottom: 0px;
  font-size: 30px;
  line-height: 30px;
}

.modal-content-basket div.string {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 47px;
  margin-left: 78px;
  margin-right: 125px;
  margin-bottom: 51px;
}

.modal-content-basket div.gray {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 460px;
  padding: 36px 82px 37px 78px;
  background-color: #f1f1f1;
}

.modal-content-basket .btn {
  margin-right: 16px;
  padding: 10px 60.5px;
  border-radius: 3px;
}

.modal-content-basket .btn:last-child {
  margin-right: 0px;
  padding: 10px 46.5px;
  border-radius: 3px;
  color: #000;
  background: #fff;
  border: 1px solid #cccccc;
}

.modal-content-write {
  position: absolute;
  top: 2520px;
  left: 323px;
  margin: auto;
  text-align: center;
  background: #fff;
  color: #000;
  border-top: 7px solid #ee3643;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-content-write .form {
  padding: 47px 80px;
  padding-bottom: 43px;
  width: 460px;
  text-align: left;
}

.half-width {
  width: 220px;
}

.half-width label {
  margin-bottom: 0px;
}

.modal-content-write .gray {
  width: 100%;
  margin: auto;
  padding: 35px 0px;
  background-color: #f1f1f1;
}

.price-controls label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.modal-content-write input,
textarea {
  width: 202px;
  margin: 9px 0 20px 0;
  padding: 9px 0px;
  padding-left: 13px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  vertical-align: middle;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
}

input .mail {
  padding-right: 0px;
}

textarea {
  width: 460px;
  margin-bottom: 0px;
}

.modal-content-write .btn {
  margin-right: 0px;
  width: 460px;
  color: #fff;
  background: #ee3643;
  border-radius: 3px;
}

.modal-content {
  position: fixed;
  top: 120px;
  left: 55%;
  display: none;
  width: 300px;
  margin-left: -230px;
  padding: 40px 40px;
  color: #000000;
  background: #f8f3f0;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-content-map {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 940px;
  height: 450px;
  margin-top: -280px;
  margin-left: -470px;
  background: #e9e5dc url("../img/map_.jpg");
  /*  border: 7px solid white;*/
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}


/*Чтобы сделать оверлей, нужно добавить ещё один блок с фиксированным позиционированием.
 Назад Вперед*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}


/*CSS класс, который мы будем добавлять к модальному окну.
 Назад Вперед*/

.modal-content-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.modal-content-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -1px;
  width: 25px;
  height: 4px;
  background-color: #e9292a;
  border-radius: 1px;
}

.modal-content-close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-content-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-content h2 {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 30px;
}

.modal-content p {
  margin: 0;
  margin-bottom: 14px;
}

.modal-content .login-form {
  margin-top: 30px;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 236px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 20px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 24px;
  height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-form input.icon-user {
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
}

.login-form input.icon-password {
  /*
  background-image: url("img/sprite.png") no-repeat;
  background-position: 100% -45px;
*/
}

.login-form .restore {
  float: right;
  color: #000000;
}

.login-form .btn {
  width: 100%;
  margin-top: 15px;
}

.login-checkbox input[type="checkbox"] {
  display: none;
}

.login-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.login-checkbox:hover {
  color: #663d15;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: #000000;
}