@main-color:#293449;
@main-color-active:  #1d2739;
@blue: #32425c;
@red: #ee3643;
@red-hover:#ca2c37;
@red-active:#ba2732;
@green: #63a63e;
@green-hover:lighten(@green, 10%);
@green-active:darken(@green, 10%);
@gold:#ffd180;

@white: #ffffff;
@grey: #f2f2f2;
@dark-grey: #e5e5e5;


// ---

@mobile-tablet-width-only: ~"(max-width: 959px)";
@tablet-width: ~"(min-width: 660px)";
@desktop-width: ~"(min-width: 960px)";

// ---

@retina: ~"(min-resolution: 144dpi)", ~"(min-resolution: 1.5dppx)";
@tablet-retina: ~"(min-width: 660px) and (min-resolution: 144dpi),
(min-width: 660px) and (min-resolution: 1.5dppx)";
@desktop-retina: ~"(min-width: 960px) and (min-resolution: 144dpi),
(min-width: 960px) and (min-resolution: 1.5dppx)";
