.about-product {
    margin-top: 60px;

    background: #f2f6f8;
    /* .about-product__title */
    &__title {
        margin-top: 67px;

        font-size: 30px;
        line-height: 30px;

        text-transform: uppercase;
    }
    /* .about-product__text */
    &__text {
        margin: 36px 0 67px;

        font-family: "PT Sans", "Arial", sans-serif;
        font-size: 13px;
        line-height: 24px;
    }
}
