.controls {
    position: absolute;
    bottom: 42%;

    display: flex;

    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;

    color: #000;

    justify-content: space-between;
    &__label {
        font-size: 45px;
        line-height: 18px;

        cursor: pointer;

        color: @red;
    }
}
