.developer {
    align-self: center;
    &__text {
        margin: 0;

        color: #fff;
    }

    &__link {
        color: @gold;
        &:hover {
            text-decoration: underline;
        }
        &:active {
            text-decoration: none;

            color: @red;
        }
    }
}
