.flag {
    position: absolute;
    z-index: 20;
    top: -1px;
    right: -1px;

    overflow: hidden;

    width: 60px;
    height: 60px;

    text-indent: -1000px;
    &--new {
        background: url(../img/new-flag.png) no-repeat 0 0;
    }
}
