.social {
    display: flex;

    text-align: center;

    justify-content: space-between;
    align-items: center;


    &__btn {
        position: relative;

        display: inline-block;

        width: 42px;
        height: 38px;
        margin: 0 2px;

        font-size: 0;

        vertical-align: top;
        text-decoration: none;

        border-radius: 50%;
        background-color: #212a3a;

        &:hover {
            background-color: @red;
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            background: url("../img/sprite1.png") no-repeat;
        }
        &--vk::before {
            width: 20px;
            height: 12px;

            background-position: -10px -465px;
        }
        &--fb::before {
            width: 10px;
            height: 18px;

            background-position: -10px -170px;
        }
        &--inst::before {
            width: 17px;
            height: 17px;

            background-position: -10px -240px;
        }
    }
}
