.user-menu {
    display: flex;

    margin-top: 46px;

    justify-content: space-between;
    /* .user-menu__slogan */
    &__slogan {
        width: 320px;
    }
    /* .user-menu__slogan-text */
    &__slogan-text {
        width: 196px;
        margin-top: 0;
        margin-left: 52px;

        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        line-height: 23px;

        color: @red;
    }
    /* .user-menu__contacts */
    &__contacts {
        width: 271px;
    }
    /* .user-menu__contacts-tel */
    &__contacts-tel {
        display: block;

        box-sizing: border-box;
        padding: 6px 0;

        font-size: 21px;
        font-weight: 400;

        text-align: center;

        color: @red;
        border: 4px solid #fff;

        .link-reset();
        &:hover {
            & .icon {
                opacity: 1;
            }
        }
    }
    /* .user-menu__contacts-adress */
    &__contacts-adress {
        margin: 0;
        padding-top: 4px;
        padding-left: 9px;

        font-size: 14px;
        font-weight: 400;
        line-height: 24px;

        color: #32425c;
    }
    /* .user-menu__login */
    &__login {
        width: 300px;
        margin-left: 51px;
    }
    /* .user-menu__login-enter */
    &__login-enter {
        display: flex;

        justify-content: space-between;
        /* .user-menu__login-enter--hidden */
        &--hidden {
            display: none;
        }
    }

    /* .user-menu__login-info */
    &__login-info {
        display: flex;

        flex-wrap: wrap;
        /* .user-menu__login-info--hidden */
        &--hidden {
            display: none;
        }
    }


    /* .user-menu__login-info-list */
    &__login-info-list {
        display: flex;

        margin-top: 8px;

        color: @main-color;

        justify-content: flex-start;


    }
    /* .user-menu__login-info-item */
    &__login-info-item {
        margin-left: 16px;

        font-size: 16px;
        font-weight: 400;
        line-height: 18px;

        text-decoration: underline;

        color: #32425c;
        &:first-child {
            list-style: none;
        }
        &:last-child {
            margin-left: 33px;

            list-style-type: disc;
        }
    }
    /* .user-menu__login-info-link */
    &__login-info-link {
        .link-reset();
        color: #32425c;

        &:hover {
            color: #ee3643;
        }
        &:active {
            color: #c5c5c5;
        }
    }
}
