.wrapper {
    position: relative;

    display: flex;

    width: 940px;
    margin: 0 auto;

    flex-wrap: wrap;
    justify-content: space-between;
    &--nowrap {
        flex-wrap: nowrap;
    }
}
